[Unit]
Description=s3r service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/python3 -u /usr/local/bin/s3r

[Install]
WantedBy=multi-user.target
